.company {
  display: flex;
  text-align: center;
  &-img {
    margin-left: 32px;
    margin-right: 32px;
  }
  .divider {
    margin-top: 40px;
    margin-bottom: 40px;
    height: 2px;
    background: linear-gradient(
      90deg,
      rgba(192, 204, 218, 0.1) 0%,
      rgba(192, 204, 218, 0.6) 50.38%,
      rgba(192, 204, 218, 0.1) 100%
    );
    border: none;
  }
}
