.wrapper {
  background: url(/Images/Background-header.png) no-repeat top;
  background-size: contain;
  width: 100%;
  height: 1000px;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 26px;
  .nav {
    display: flex;
    align-items: center;
    .menu {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      &-link a {
        text-decoration: none;
        color: #18191f;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        margin-right: 32px;
      }
    }
  }
}
