.headline {
  padding-bottom: 104px;
}
.headline-description .title {
  font-weight: 600;
  line-height: 54px;
}
.headline-block {
  display: flex;
  flex-wrap: wrap;
}
.headline-item {
  width: 50%;
  display: flex;
  align-items: center;
}
.headline__color {
  background: #f1e4ff;
  border-radius: 8px;
}
.headline-image {
  padding-top: 56px;
  margin: 0 auto;
}
.headline-description {
  margin-left: 78px;
  margin-right: 20px;
}
.headline-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  margin-top: 32px;
  margin-bottom: 32px;
}
.headline-link {
  text-decoration: none;
  color: #8c30f5;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  &::after {
    content: "";
    display: inline-block;
    background-image: url(/Images/Headline/Vector.svg);
    background-size: cover;
    height: 14px;
    width: 22px;
    margin-left: 5px;
  }
}

// Media

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
  .headline-block{
    margin-left: 20px;
    margin-right: 20px;
  }
  .headline-item{
    width: 100%;
    justify-content: center;
    text-align: center;
  }
  .headline-description{
    margin: 0;
    max-width: 600px;
    .title{
      margin-top: 40px;
    }
  }
}

@media (max-width: 768px) {
}

@media (max-width: 575px) {
  .headline-item:nth-of-type(1){
    display: none;
  }
  .headline-description{
    .title{
      margin-top: 0;
    }
  }
}