* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #18191F;
  margin: 0;
}

body {
  font-family: 'Manrope', sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
}

.wrapper {
  background: url(/Images/Background-header.png) no-repeat top;
  background-size: contain;
  width: 100%;
  height: 1000px;
}

.header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 26px;
  padding-bottom: 26px;
}

.header-row .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-row .nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.header-row .nav .menu-link a {
  text-decoration: none;
  color: #18191f;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  margin-right: 32px;
}

.header-row .header-button .store-link:not(:last-child) {
  margin-right: 12px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 130px;
}

.main-title {
  color: #18191f;
  font-weight: 800;
  font-size: 72px;
  line-height: 98px;
  margin-bottom: 32px;
}

.main-button {
  background: #8c30f5;
  border-radius: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  padding: 16px 40px;
  text-decoration: none;
  display: block;
  max-width: 200px;
  text-align: center;
}

.company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.company-img {
  margin-left: 32px;
  margin-right: 32px;
}

.company .divider {
  margin-top: 40px;
  margin-bottom: 40px;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(192, 204, 218, 0.1)), color-stop(50.38%, rgba(192, 204, 218, 0.6)), to(rgba(192, 204, 218, 0.1)));
  background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
  border: none;
}

.features-block {
  padding-top: 24px;
  padding-bottom: 104px;
}

.features-block .features {
  text-align: center;
  color: #18191f;
  margin-top: 40px;
}

.features-block .features .description-title {
  font-size: 18px;
  line-height: 1.8;
  font-weight: 400;
}

.features-block .features-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 25px;
}

.features-block .features-card .features-item {
  width: 29%;
  color: #18191f;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 65px;
  min-width: 380px;
}

.features-block .features-card .features-item .card-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.features-block .features-card .features-item .card-description {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.stories {
  background: #d5fafc;
}

.stories-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 104px;
  padding-bottom: 104px;
}

.stories-mrks {
  position: absolute;
  left: 4%;
  top: 4%;
  opacity: 0.2;
}

.stories-col {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.stories-title {
  margin-right: 50px;
}

.stories-title .title {
  margin: 0;
}

.stories-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  margin: 0;
}

.stories-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #ffffff;
  -webkit-box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
          box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 8px;
  padding: 38px 32px 32px 32px;
  margin: 15px;
}

.item__hubspot {
  width: 370px;
  position: absolute;
  right: 0;
  bottom: 80px;
}

.item__airbnb {
  width: 445px;
  margin-top: 104px;
}

.item__bookmyshow {
  width: 350px;
}

.stories-minimarks {
  position: absolute;
  top: 104px;
  opacity: 0.4;
}

.stories-text {
  margin-left: 32px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

.stories-name {
  width: 100%;
  margin-left: 32px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

.stories-prof {
  margin-left: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #969bab;
}

.counter {
  padding-top: 104px;
  padding-bottom: 104px;
}

.counter-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.counter-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
}

.counter-description {
  margin-top: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

.counter-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 255px;
  min-height: 66px;
  margin: 15px;
}

.counter-icon {
  margin-right: 16px;
}

.counter-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.counter-number {
  font-weight: 800;
  font-size: 28px;
  line-height: 40px;
}

.headline {
  padding-bottom: 104px;
}

.headline-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.headline-item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headline__color {
  background: #f1e4ff;
  border-radius: 8px;
}

.headline-image {
  padding-top: 56px;
  margin: 0 auto;
}

.headline-description {
  margin-left: 78px;
}

.headline-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.headline-link {
  text-decoration: none;
  color: #8c30f5;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

.headline-link::after {
  content: "";
  display: inline-block;
  background-image: url(/Images/Headline/Vector.svg);
  background-size: cover;
  height: 14px;
  width: 22px;
  margin-left: 5px;
}
/*# sourceMappingURL=main.css.map */