* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.title {
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
}

.wrapper {
  background: url(/Images/Background-header.png) no-repeat top;
  background-size: contain;
  max-height: 1060px;
}

.header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 26px;
  padding-bottom: 26px;
}

.header-row .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-row .nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.header-row .nav .menu-link a {
  text-decoration: none;
  color: #18191f;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  margin-right: 32px;
}

.header-row .header-button .store-link:not(:last-child) {
  margin-right: 12px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 100px;
  margin-bottom: 65px;
}

.main-title {
  margin-top: 95px;
  color: #18191f;
  font-weight: 800;
  font-size: 72px;
  line-height: 98px;
  margin-bottom: 32px;
}

.main-button {
  background: #8c30f5;
  border-radius: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  padding: 16px 40px;
  text-decoration: none;
  display: block;
  max-width: 116px;
  text-align: center;
}

.company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.company-img {
  margin-left: 32px;
  margin-right: 32px;
}

.company .divider {
  margin-top: 40px;
  margin-bottom: 40px;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(192, 204, 218, 0.1)), color-stop(50.38%, rgba(192, 204, 218, 0.6)), to(rgba(192, 204, 218, 0.1)));
  background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
  border: none;
}

.features-block {
  padding-top: 24px;
  padding-bottom: 64px;
}

.features-block .features {
  text-align: center;
  color: #18191f;
}

.features-block .features .description-title {
  font-size: 18px;
  line-height: 1.8;
  font-weight: 400;
}

.features-block .features-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 25px;
}

.features-block .features-card .features-item {
  width: 29%;
  color: #18191f;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 65px;
  min-width: 380px;
}

.features-block .features-card .features-item .card-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.features-block .features-card .features-item .card-description {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.stories {
  position: relative;
  background: #d5fafc;
  padding-top: 10px;
  padding-bottom: 80px;
}

.stories .container {
  max-width: 1200px;
}

.stories-img {
  position: absolute;
  top: 85px;
  left: 15%;
}

.stories-block {
  position: relative;
  padding-top: 135px;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stories-block .stories-item {
  background: #ffffff;
  -webkit-box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
          box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 8px;
  padding: 32px 20px 32px 40px;
}

.stories-block .stories-item .stories-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #18191f;
  margin-left: 40px;
  margin-bottom: 0;
}

.stories-block .stories-item .stories-prof {
  color: #969bab;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-left: 40px;
}

.stories-title {
  max-width: 445px;
}

.stories-description {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stories-description img {
  position: absolute;
  top: 25px;
}

.stories-description .stories-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #18191f;
  margin-left: 40px;
}

.item-1 {
  max-width: 445px;
}

.item-2 {
  max-width: 350px;
}

.item-3 {
  max-width: 350px;
}
/*# sourceMappingURL=main.css.map */