* {
  box-sizing: border-box;
  color: #18191f;
  margin: 0;
}
body {
  font-family: "Manrope", sans-serif;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
}
.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
}
.button {
  .store-link:not(:last-child) {
    margin-right: 12px;
  }
}

@import "header.scss"; // header
@import "main-block.scss"; // block main
@import "company.scss"; // block company
@import "features.scss"; // block features
@import "stories.scss"; // block stories
@import "counter.scss"; // block counter
@import "headline.scss"; // block headline
@import "trends.scss"; // block trends
@import "download-app.scss"; // block download-app
@import "footer.scss"; // block footer

// Media

@media (max-width: 768px) {
  .title {
    font-size: 36px;
    line-height: 50px;
  }
}
