* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #18191f;
  margin: 0;
}

body {
  font-family: "Manrope", sans-serif;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
}

.button .store-link:not(:last-child) {
  margin-right: 12px;
}

.wrapper {
  background: url(/Images/Background-header.png) no-repeat top;
  background-size: contain;
  width: 100%;
  max-height: 1000px;
}

.menu-btn {
  display: none;
  margin-right: 40px;
  padding: 10px;
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 9;
}

.menu-btn span {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  width: 30px;
  height: 3px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #18191f;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu-btn span:nth-last-of-type(2) {
  top: calc(50% - 7px);
}

.menu-btn span:nth-last-of-type(3) {
  top: calc(50% + 8px);
}

.menu-btn.active span:first-of-type {
  opacity: 0;
}

.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 26px;
  padding-bottom: 26px;
}

.header-row .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-row .nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.header-row .nav .menu-link a {
  text-decoration: none;
  color: #18191f;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  margin-right: 32px;
}

@media (max-width: 1400px) {
  .header-row {
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media (max-width: 992px) {
  .menu {
    position: absolute;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 50px;
    left: 0;
    width: 100%;
    padding: 25px;
    background-color: #ede7ff;
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
    opacity: 0;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .menu .menu-link {
    display: block;
  }
  .menu .wrapper {
    background: url(/Images/Background-header.png) no-repeat top;
    background-size: cover;
  }
  .menu.active {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    opacity: 1;
    z-index: 8;
  }
  .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 505px) {
  .header-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header-button .store-link:not(:last-child) {
    margin-right: 0px;
  }
  .menu {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu .menu-link {
    width: 100%;
  }
  .menu .menu-link a {
    font-size: 22px !important;
  }
  .menu.active {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    opacity: 1;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 130px;
}

.main-title {
  margin-top: 20%;
  color: #18191f;
  font-weight: 800;
  font-size: 72px;
  line-height: 98px;
  margin-bottom: 32px;
  min-width: 300px;
}

.main-button {
  background: #8c30f5;
  border-radius: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  padding: 16px 40px;
  text-decoration: none;
  display: block;
  max-width: 200px;
  text-align: center;
}

@media (max-width: 1200px) {
  .main {
    margin-left: 20px;
    margin-right: 20px;
  }
  .main-title {
    font-size: 64px;
    line-height: 78px;
  }
}

@media (max-width: 992px) {
  .main {
    padding-top: 70px;
  }
  .main-title {
    font-size: 54px;
  }
  .main-image {
    max-width: 350px;
  }
}

@media (max-width: 768px) {
  .main-title {
    font-size: 40px;
    line-height: 65px;
  }
  .main-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-title {
    margin-bottom: 0;
  }
  .main-button {
    margin-top: 0;
    width: 100%;
    font-size: 16px;
  }
}

@media (max-width: 575px) {
  .main {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-title {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 30px;
    line-height: 45px;
  }
  .main-image {
    max-width: 280px;
  }
}

.company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-top: 50px;
}

.company-img {
  margin-left: 32px;
  margin-right: 32px;
}

.company .divider {
  margin-top: 40px;
  margin-bottom: 40px;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(192, 204, 218, 0.1)), color-stop(50.38%, rgba(192, 204, 218, 0.6)), to(rgba(192, 204, 218, 0.1)));
  background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
  border: none;
}

@media (max-width: 992px) {
  .company-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .company-block .divider {
    width: 100%;
  }
  .company-block .company-img {
    display: block;
    margin-top: 20px;
  }
  .company-block .company-img img {
    max-height: 30px;
  }
}

.features-block {
  padding-top: 24px;
  padding-bottom: 104px;
}

.features-block .features {
  text-align: center;
  color: #18191f;
  margin-top: 40px;
}

.features-block .features .features-description {
  font-size: 18px;
  line-height: 1.8;
  font-weight: 400;
}

.features-block .features-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 25px;
}

.features-block .features-card .features-item {
  width: 27%;
  color: #18191f;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 65px;
  min-width: 380px;
}

.features-block .features-card .features-item .card-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.features-block .features-card .features-item .card-description {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

@media (max-width: 992px) {
  .features-block {
    margin-right: 20px;
    margin-left: 20px;
  }
  .features-block .features .features-description {
    line-height: 22px;
    font-size: 16px;
  }
  .features-block .features-card .features-item {
    min-width: 300px;
  }
}

.stories {
  background: #d5fafc;
}

.stories-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 104px;
  padding-bottom: 104px;
}

.stories-mrks {
  position: absolute;
  left: 4%;
  top: 4%;
  opacity: 0.2;
}

.stories-col {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.stories-title {
  margin-right: 50px;
}

.stories-title .title {
  margin: 0;
}

.stories-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  margin: 0;
}

.stories-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #ffffff;
  -webkit-box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
          box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 8px;
  padding: 38px 32px 32px 32px;
  margin: 15px;
}

.item__hubspot {
  width: 370px;
  position: absolute;
  right: 0;
  bottom: 80px;
}

.item__airbnb {
  width: 445px;
  margin-top: 104px;
}

.item__bookmyshow {
  width: 350px;
}

.stories-minimarks {
  position: absolute;
  top: 104px;
  opacity: 0.4;
}

.stories-text {
  margin-left: 32px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

.stories-name {
  width: 100%;
  margin-left: 32px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

.stories-prof {
  margin-left: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #969bab;
}

.counter {
  padding-top: 104px;
  padding-bottom: 104px;
}

.counter-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.counter-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
}

.counter-description {
  margin-top: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

.counter-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 255px;
  min-height: 66px;
  margin: 15px;
}

.counter-icon {
  margin-right: 16px;
}

.counter-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: start;
}

.counter-number {
  font-weight: 800;
  font-size: 28px;
  line-height: 40px;
  text-align: start;
}

@media (max-width: 992px) {
  .counter-block {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .counter-item {
    text-align: center;
    width: 100%;
  }
  .counter-title {
    margin-bottom: 50px;
  }
  .counter-card {
    text-align: center;
  }
}

.headline {
  padding-bottom: 104px;
}

.headline-description .title {
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
}

.headline-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.headline-item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headline__color {
  background: #f1e4ff;
  border-radius: 8px;
}

.headline-image {
  padding-top: 56px;
  margin: 0 auto;
}

.headline-description {
  margin-left: 78px;
}

.headline-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.headline-link {
  text-decoration: none;
  color: #8c30f5;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

.headline-link::after {
  content: "";
  display: inline-block;
  background-image: url(/Images/Headline/Vector.svg);
  background-size: cover;
  height: 14px;
  width: 22px;
  margin-left: 5px;
}

.trends {
  padding-top: 104px;
  padding-bottom: 104px;
}

.trends-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trends-title .title {
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
}

.trends-title {
  width: 50%;
}

.trends-description {
  width: 50%;
}

.trends-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

.trends-image {
  width: 100%;
  margin-top: 48px;
}

.download-app {
  background: #2ec5ce;
}

.download-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.download-item {
  position: relative;
  width: 50%;
}

.download-item:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.download-description {
  margin-top: 104px;
}

.download-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  margin-top: 8px;
  margin-bottom: 48px;
  max-width: 540px;
}

.download-button {
  padding-bottom: 104px;
}

.download-get {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  display: block;
  margin-bottom: 8px;
}

.download-img {
  position: absolute;
}

.download-img:nth-of-type(1) {
  top: 0;
  left: 20%;
}

.download-img:nth-of-type(2) {
  bottom: 0;
  right: 0;
}

.footer {
  background: #0b0d17;
  padding-bottom: 56px;
  padding-top: 56px;
}

.footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-logo {
  margin-bottom: 24px;
}

.footer-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
}

.download-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  text-decoration: none;
  margin-right: 24px;
}

.footer-menu {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
}

.footer-link {
  list-style: none;
  margin-right: 24px;
}

.footer-link a {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  text-decoration: none;
}

.footer-copy {
  color: #d9dbe1;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.footer-get {
  display: block;
  color: #d9dbe1;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.footer-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .store-link {
  width: 100%;
  margin-top: 16px;
}

@media (max-width: 768px) {
  .title {
    font-size: 36px;
    line-height: 50px;
  }
}
/*# sourceMappingURL=main.css.map */